.tab-bar {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #c1c1c1;
    background: #f7f7f7;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tab-bar__tab {
    display: block;
    margin: auto;
    text-align: center;
    color: #c1c1c1;
    padding: 5px;
}

.tab-bar__tab:active, .tab-bar__tab:visited {
    color: #c1c1c1;
}

.tab-bar__tab > .tab-bar__icon {
    padding: 5px;
}

.tab-bar__tab-active {
    color: #533738;
}

.tab-bar__tab .tab-bar__title {
    display: block;
    font-size: 0.7em;
}